@use '../../styles/partials/globals' as *;

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    gap: 2rem;

    &__bigContainer {
        display: flex;
        flex-direction: column;
        @include tablet {
            flex-direction: row;
            gap: 2rem;
        }
    }

    &__warehouse {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    &__border {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid $cloud;

        @include tablet {
            border-bottom: none;
            border-right: 1px solid $cloud;
        }
    }
    &__contact {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
        &__container {
            display: flex;
            flex-direction: column;
        }

            &__input {
                border: 1px solid $cloud;
                border-radius: 15px;
                height: 2rem;
                padding-left: 1rem;
            }
    &__buttons {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 1rem;
    }
        &__button {
            border: 1px solid $cloud;
            border-radius: 20px;
            background-color: $white;
            font-size: 1.25rem;
            padding-top: .5rem;
            padding-bottom: .5rem;
            padding-left: 3rem;
            padding-right: 3rem;
        }
        &__button--blue {
            background-color: $indigo;
            color: $white;
        }
}