@use '../../styles/partials/globals' as *;

.details{
    &__con{
        display: flex;
        justify-content: space-between;
        @include tablet{
            width:50%;
        }
    }
    &__div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 2rem;
        @include tablet{
            flex-direction: row;
        }
    }
    &__tit{
        display: flex;
        padding-left: 1rem;
       
    }
    &__icons{
        fill: $white;
    }
    &__icn{
        background-color: $indigo;
        color: $white;
    }
    &__h{
        display: flex;
        justify-content: space-between;
        padding-right: 1rem;
        border-bottom: $slate solid 0.5px;
        align-items: center;
    }
}