@use '../../styles/partials/globals' as *;


.warehousesMain {
    display: flex;
    flex-direction: column;
    background-color: $grey;

    &__container {
        background-color: $white;
        margin: 1rem;
        margin-top: -3rem;
        border: 1px solid $white;
        box-shadow: $white;
        border-radius: 2px;

        @include tablet {
            margin: 2rem;
            margin-top: -4rem;
        }
        @include desktop {
            margin-left:6rem;
            margin-right: 6rem;
        }
    }
}

