@font-face{
    font-family:"TitilliumWeb";
    src:url("../../assets/fonts/TitilliumWeb-Regular.ttf")format("ttf");
    font-weight: 400;
}
@font-face{
    font-family:"TitilliumWeb";
    src:url("../../assets/fonts/TitilliumWeb-SemiBold.ttf")format("ttf");
    font-weight: 600;
}
