@font-face {
    font-family: "Titillium Web";
    src: url("../../assets/fonts/TitilliumWeb-Regular.ttf") format("truetype");
    font-weight: 400;
    font-weight: 500;
}

@font-face {
    font-family: "Titillium Web";
    src: url("../../assets/fonts/TitilliumWeb-Light.ttf") format("truetype");
    font-weight: 200;
    font-weight: 300;
}
@font-face {
    font-family: "Titillium Web";
    src: url("../../assets/fonts/TitilliumWeb-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-weight: 700;
}
