@import '../../styles/partials/globals';

.footer {
    background-color: $grey;
    padding: 2.5rem 1rem;
    @include tablet {
        padding: 3rem 2rem 2.5rem 2rem;
    }
    @include desktop {
        padding: 5rem 4rem 3.5rem 4rem;
    }

    &__text {
    font-size: 0.75rem;
    color: $slate;
    text-align: center;
    margin: 0;
    @include tablet {
        font-size: .875rem;
    }
    }

}