
@use '../../styles/partials/globals' as *;


.item {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-top: 1px solid $cloud;
    gap: 1.25rem;
  
    &__button {
          background-color: transparent;
          border: none;
          cursor: pointer;
    }

    @include tablet {
        display: none;
    }

    &__allData {
        display: flex;
        justify-content: space-between;
        padding-right: 2rem;
    }
        &__left {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
        }
        &__right {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
        }
            &__label {
                color: $slate;
                font-size: .85rem;
                //width: 100%;
            }
            &__name {
                color: $indigo;
            }
            &__data {
                width: 100%;
            }

        &__actions {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include tablet {
                gap: .5rem;
            }
        }
}


.otherItem {
    display: none;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: 1px solid $cloud;

    @include tablet {
        display: flex;
    }
    &__container {
        width: 100%;
    }
    &__container--first {
        display: flex;
        align-items: center;
        width: 100%;
    }
}