@import '../../styles/partials/globals';
@import '../../styles/partials/colors';
@import '../../styles/partials/mixins';

*,*::after,*::before{
    box-sizing: border-box;
}

.nav {
    display: flex;
    height: 8.5rem;
    background-color: $graphite;
    padding-bottom: 4.0625rem;
    
    &__container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        width: 100%;

        @include tablet {
            flex-direction: row;
            height: 5.75rem;
            padding-bottom: 5.75rem;
            margin: 0 1%;
        }
        @include desktop {
            margin: 0 8%;
        }
    }
    &__logo-container {
        @include tablet {
            margin-left: 1.5625rem;
        }
    }
    &__img {
        width: 8.125rem;
        margin-top: 1.5625rem;
        @include tablet {
            margin-top: 0.625rem;
        }
    }
    &__links {
        width: 100%;

        @include tablet {
            width: 28%;
        }
        @include desktop {
            width: 25%;
        }
    }
    &__link {
        margin: 0 0.9375rem;
    }
    &__list {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        padding: 0;
        @include tablet {
            margin: 0.625rem 0 0 0;
            width: 100%;
        }
    }
    &__warehouses {
        color: $white;
        font-size: 0.82rem;
        text-decoration: none;
        width: 50%;
        padding: 0.5rem 1rem;
        text-align: center;
        @include tablet {
            width: 30%;
            margin: 0;
        }
    }
    &__inventory {
        color: $white;
        font-size: 0.82rem;
        text-decoration: none;
        width: 50%;
        padding: 0.5rem 1rem;
        text-align: center;
        @include tablet {
            width: 30%;
            margin: 0;
        }
    }
    &__warehouses--active {
        font-weight: bold;
        background-color: $black;
        border-radius: 1.25rem;
    }
};

a:hover {
    text-decoration: underline;
}